*, html {
	font-family: Lucida Console, Courier New, serif;
	font-size: 11px;
}

body {
	padding: 0px;
	margin: 0px;
}

#terminal_window {
	background-color: #000;
	color: #00AE00;
	width: 900px;
	height: 600px;
	padding: 10px;
	overflow: auto;
}

#terminal_window a:link,
#terminal_window a:visited,
#terminal_window a:hover,
#terminal_window a:active {
	color: #00AE00;
}